@model Product
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit" method="post" asp-controller="Product">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ProductID" class="form-control"/>

            <div class="form-group">
                <input type="submit" value="GÜNCELLE" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Product" class="btn btn-secondary">ÜRÜN LİSTESİNE GİT.</a>

            </div>

        </form>


    </div>
</div>
